@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

/* img {
  width: 100%;
  border: 0;
  vertical-align: middle;
} */

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.blue-clr { color: #72A2F2}
.grey { color: #D8D8D8; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }
figure img {display: block;}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* Banner styling starts here */
.banner { 
  padding: 343px 0 348px;
  background-color: #39DEFE;
  color: #F0FBFE;
}

.banner h1{ font-size: 42px; }

.banner p {
  padding: 21px 15% 39px 0;
  font-size: 25px;
  line-height: 40px;
}

.banner-info a:hover {
  color: #3887ED;
  cursor: pointer;
}

.banner a {
  color: #F0FBFE;
  cursor: pointer;
}

.download-btn::before {
  content: '\f179';
  padding-right: 3%;
  font-family: "fontAwesome";
}

.download-btn {
  padding: 18px 30px 17px 25px;
  border-radius: 100px;
  background-color: #3887ED;
  font-size: 18px;
  white-space: nowrap;
}

.download-btn:hover {
  color: #398AB9;
  background: #FFF;
  transition: .5s ease-in;
}

.banner .wrapper {
  display: flex;
  justify-content: flex-start;
}

.image-container {
  flex-basis: 50%;
  position: relative;
  padding-right: 10%;
  bottom: 156px;
}

.box-shadow{ box-shadow: 0 0px 8px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) }

.image-container img:first-child {
  position: absolute;
}

.image-container img:last-child {
  position: absolute;
  top: 100px;
  left: 32.5%;
}

/* Keep it simple section styling starts here */
.simple { padding-top: 340px;}

.simple .wrapper{
  display: flex;
  align-items: center;
}

.keep-it-simple { padding-left: 18.2%; }

.simple .wrapper,
.pixel .wrapper{
  border-bottom: 2px solid #F2F2F2; 
}

.keep-it-simple h2{
  font-size: 33px;
  font-weight: 500;
}

.keep-it-simple h2::after,
.pixel-perfect h2::after,
.beautiful-design h2::after  {
  content: '';
  width: 5%;
  padding-top: 22px;
  border-bottom:3px solid #76ACF3;
  display: block;
}

.grey-txt { 
  padding-top: 24px;
  color: #858485;
  font-size: 18px;
  line-height: 30px;
}
/* Keep it simple section styling starts here */

/* Pixel perfect section styling starts here */
.pixel { padding-top: 210px;}
.flex-reverse {flex-direction:row-reverse;}

.pixel .wrapper{ 
  display: flex; 
  justify-content: flex-start;
}

.pixel-perfect h2 { 
  padding-top: 58px;
  font-size: 35px; 
}

.pixel-perfect p { padding-right: 26%; }
/* Pixel perfect section styling ends here */

/* Beautiful design section styling starts here */
.beautiful {padding-top: 207px;}
.beautiful .wrapper { display: flex; }
.beautiful-design { padding: 245px 0 0 18%;}
.beautiful-design h2 { font-size: 36px; }
/* Beautiful design section styling ends here */

/* Customer Review section styling ends here */
.customer-review {
  padding-top: 100px;
  background-color: #F2F2F2;
}

.customer-review h2 {
  padding-bottom: 89px;
  font-size: 36px;
  text-align: center;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review figure img { 
  width: 88%;
  height: 100px;
  padding: 10px;
  border-radius: 50%;
}

.review {display: none;}
.review:first-child {display: flex;}

.review h4 {
  padding-top: 27px;
  color: #969696;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
}

.stars,
.dot {
  text-indent: -9999px;
}

.dot:hover::after { color: #5C9BEE; }

.stars::after {
  content: "\f005";
  padding-top: 8px;
  font-size: 12px;
  font-family: "fontAwesome";
  float: right;
  text-indent: 0;
}

.yellow { color: #FBC23C; }

.grey-rev {
  padding: 53px 10% 0;
  color: #A1A1A1;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
}

.dots { 
  padding: 57px 0 147px;
  text-align: center;
}

.dot::after {
  content: "\f192";
  font-family: "fontAwesome";
  float: right;
  text-indent: 0;
  color: #888888;
  padding: 3px;
  font-size: 12px;
}

.dot.active::after { color: #5C9BEE; }
/* Customer Review section styling ends here */

/* Features section styling starts here */
.features { padding-top: 140px; }

.features h2 {
  font-size: 34px;
  text-align: center;
}

.feature-txt {
  padding: 41px 20% 95px;
  color: #858485;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.more-features { display: flex; }

.feature-item {
  display: flex;
  flex-direction: column;
}

.phone,
.heart,
.feature-star,
.gear { 
  text-indent: -9999px;
}

.phone,
.heart,
.feature-star,
.gear {
  background-color: #EEE;
  width: 30%;
  padding: 32px 0;
  margin-left: 33%;
  border-radius: 15%;
}

.phone::before {
  content: "\f3ce";
  padding: 0 35%;
}

.heart::before {
  content: "\f004";
  padding: 0 28%;
}

.feature-star::before {
  content: "\f005";
  padding: 0 28%;
}

.gear::before {
  content: "\f013";
  padding: 0 29%;
}

.phone::before,
.heart::before,
.feature-star::before,
.gear::before {
  color: #3887ED;
  font-family: "fontAwesome";
  font-size: 42px;
  float: right;
  text-indent: 0;
}

.feature-content { 
  padding-top: 50px;
  text-align: center;
}

.feature-content h3 { font-size: 17px; }

.content-txt {
  padding: 0 7% 141px;
  color: #B0B0B0;
  line-height: 31px;
}
/* Features section styling ends here */

/* Subscribe section styling starts here */
.subscribe {
  padding-top: 135px; 
  background-color: #39DEFE;
}

.subscribe h2 {
  font-size: 36px;
  text-align: center;
}

.subscribe p {
  padding: 29px 17% 96px;
  color: #26A4D4;
  font-size: 21px;
  text-align: center;
}

.form-container {
  padding-bottom: 144px;
  display: flex;
  justify-content: flex-start;
  gap: 55px;
}

.form-container div { flex-basis: 33% }

.form-container input {
  width: 100%;
  padding: 25px 0 17px 4%;
  border: 2px solid #88ECFF;
  background-color: #88ECFF;
}

::placeholder {
  font-size: 20px;
  color: #000;
}

.subscribe-btn {
  color: #FFF;
  background-color: #3887ED;
  font-size: 16px;
  padding: 10px 12%;
  border: none;
  border-radius: 50px;
}

.subscribe-btn:hover {
  color: #3887ED;
  background-color: #FFF;
  transition: .5s ease-in;
}
/* Subscribe section styling ends here */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  padding: 141px 0 133px;
  text-align: center;
  line-height: 33px;
}

/* add padding to footer instead of links */

.blue-clr:hover {
  color: #FBC23C;
  transition: .3s ease-in;
}

.social-links { padding-top: 30px;}
.social-links li a { padding: 0 22px; }

.facebook,
.twitter,
.linkedin,
.apple {
  text-indent: -9999px;
}

.facebook::after { content: "\f39e"; }
.twitter::after { content: "\f099"; }
.linkedin::after { content: "\f0e1"; }
.apple::after { content: "\f179"; }

.facebook::after,
.twitter::after,
.linkedin::after,
.apple::after {
  color: #3887ED;
  font-family: "fontAwesome";
  font-size: 33px;
  float: right;
  text-indent: 0;
}

.facebook:hover::after, 
.twitter:hover::after, 
.linkedin:hover::after, 
.apple:hover::after {
  color: #000;
  transition: .5s ease-in;
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 767px starts here*/
@media screen and (max-width: 767px){
  .banner { padding: 140px 0 100px; }
  .banner h1 {font-size: 30px;}

  .banner p {
    font-size: 18px;
    line-height: 28px;
  }

  .download-btn {
    padding: 15px;
    font-size: 18px;
  }

  .image-container img {max-width: 100%;}


  .image-container img:last-child {
    position: absolute;
  }

  .simple {padding-top: 150px;}

  .simple .wrapper,
  .pixel .wrapper,
  .beautiful .wrapper {
    flex-wrap: wrap; 
    justify-content: center;
  }

  .simple .wrapper figure 
  .pixel .wrapper figure 
  .beautiful .wrapper figure { 
    flex-basis: 100%;
  }

  .simple .wrapper figure { margin-bottom: 15%;}

  .keep-it-simple,
  .pixel-perfect,
  .beautiful-design {
    flex-basis: 100%;
  }

  .pixel {padding-top: 148px;}
  .pixel-perfect {padding-top: 100px; }
  .wrapper figure img { max-width: 60%; }

  .wrapper figure img {
    display: block;
    margin: 0 auto;
  }

  .keep-it-simple { padding-left: 0; }
  .pixel-perfect { order: 2;}
  .beautiful { padding-top: 149px; }
  .wrapper-beautiful { flex-wrap: wrap; }
  .wrapper-beautiful figure { flex-basis: 100%; }
  .pixel-perfect h2{ padding-top: 0; }
  .beautiful-design { padding: 98px 0 0; }

  .review figure img { 
    width: 100%;
    height: 100px;
    padding: 30px;
    border-radius: 50%;
  }

  .more-features { flex-direction: column; }

  .phone,
  .heart,
  .feature-star,
  .gear {
    width: 20%;
    padding: 32px 0;
    margin-left: 40%;
    border-radius: 15%;
    background-color: #EEE;
  }

  .phone::before{ padding: 0 35%; }

  .heart::before,
  .feature-star::before,
  .gear::before {
    padding: 0 30%;
  }

  .form-container { flex-direction: column; }
  .subscribe p { 
    padding: 29px 5% 96px; 
    font-size: 18px;
    line-height: 29px;
  }
}

@media screen and (min-width:  767px) and (max-width: 1024px){
  /* .banner { padding-bottom: 51px; } */
  
  .image-container img{ width: 240px; }

  .image-container img:first-child {
    position: absolute;
    top: 165px;
  }

  .image-container img:last-child {
    position: absolute;
    top: 220px;
    left: 58px;
  }

  .banner h2 {
    font-size: 30px;
    /* padding-top: 220px; */
  }

  .banner p {
    font-size: 20px;
    line-height: 26px;
  }

  .download-btn {
    padding: 15px;
    font-size: 16px;
  }

  .simple { padding-top: 140px;}


  .wrapper-simple figure img { width: 280px; }
  .wrapper-beautiful figure img { width: 280px ;}
  .beautiful-design {  padding: 30px 0 0 18%; }
  
  .more-features { flex-direction: column; }
  
  .phone,
  .heart,
  .feature-star,
  .gear {
    background-color: #EEE;
    width: 20%;
    padding: 32px 0;
    margin-left: 40%;
    border-radius: 15%;
  }

  .heart:before,
  .feature-star::before,
  .gear::before {
    padding: 0 34%;
  }
  
  .form-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1290px) {
  /* .banner { padding-bottom: 40px; } */
  .image-container img{ width: 320px;}
  
  .image-container img:first-child { 
    top: 164px;
    left: 55px;
  }

  .image-container img:last-child {
    top: 230px;
    left: 110px;
  }

  .wrapper-simple figure img { width: 350px; }
  .wrapper-beautiful figure img { width: 350px ;}
  .beautiful-design {  padding: 100px 0 0 18%; }

  .more-features {flex-wrap: wrap;}

  .feature-item {flex-basis: 50%;}

  .phone,
  .heart,
  .feature-star,
  .gear {
    background-color: #EEE;
    width: 32%;
    padding: 32px 0;
    margin-left: 35%;
    border-radius: 15%;
  }

  .phone::before {padding: 0 38%; }

  .heart:before,
  .feature-star::before,
  .gear::before {
    padding: 0 35%;
  }
  

  .form-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1290px) and (max-width: 1370px){
  .form-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 848px) and (max-width:1000px){
  .form-container {
    flex-direction: column;
    align-items: center;
  }
}
