@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

/* img {
  width: 100%;
  border: 0;
  vertical-align: middle;
} */

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #D8D8D8; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}

.wrapper-simple {
  max-width: 1350px;
  width: 90%; 
  margin: 0 auto;
}

.wrapper-beautiful {
  max-width: 1350px;
  width: 90%; 
  margin: 0 auto;
}

.wrapper-customer {
  max-width: 1350px;
  width: 80%; 
  margin: 0 auto;
}
.wrapper-feature {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* Banner styling starts here */
.banner { 
  background-color: #39DEFE;
  color: #F0FBFE;
  padding-bottom: 141px;
}

.banner h2 {
  font-size: 42px;
  padding-top: 348px;
}

.banner p {
  padding: 21px 15% 39px 0;
  font-size: 25px;
  line-height: 40px;
}

.banner-info a:hover {
  cursor: pointer;
  color: #3887ED;
}

.banner a {
  cursor: pointer;
  color: #F0FBFE;
}

.download-btn::before {
  padding-right: 3%;
  content: '\f179';
  font-family: "fontAwesome";
}

.download-btn {
  padding: 18px 30px 17px 25px;
  margin-bottom: 100px;
  border-radius: 100px;
  background-color: #3887ED;
  font-size: 18px;
  white-space: nowrap;
}

.download-btn:hover {
  color: #398AB9;
  background: #FFF;
  transition: .5s ease-in;
}

.banner .wrapper {
  display: flex;
  justify-content: flex-start;
}

.image-container {
  flex-basis: 50%;
  position: relative;
  padding-right: 10%;
}

.image-container img:first-child {
  position: relative;
  top: 188px;
}

.image-container img:last-child {
  position: absolute;
  top: 284px;
  left: 210px;
}

/* Keep it simple section styling starts here */
.simple { padding-top: 340px;}

.wrapper-simple {
  display: flex;
  align-items: center;
}

.wrapper-simple figure { flex: 1;}

.keep-it-simple { 
  padding-left: 2.5%;
  flex: 1;
}

.wrapper-simple{
  border-bottom: 2px solid #F2F2F2;
}

.keep-it-simple h2{
  font-size: 33px;
  font-weight: 500;
}

.keep-it-simple h2::after,
.pixel-perfect h2::after,
.beautiful-design h2::after  {
  content: '';
  width: 5%;
  padding-top: 22px;
  border-bottom:3px solid #76ACF3;
  display: block;
}

.grey-txt { 
  padding-top: 24px;
  color: #858485;
  font-size: 18px;
  line-height: 30px;
}
/* Keep it simple section styling starts here */

/* Pixel perfect section styling starts here */
.pixel { padding-top: 210px;}

.pixel .wrapper-simple { 
  display: flex; 
  /* align-items: center; */
  justify-content: flex-start;
}

.pixel-perfect h2 { 
  padding-top: 58px;
  font-size: 35px; 
}

.pixel-perfect p {
  padding-right: 26%;
}
/* Pixel perfect section styling ends here */

/* Beautiful design section styling ends here */

.beautiful { padding-top: 208px; }

.beautiful .wrapper-beautiful { display: flex; }

.beautiful-design {
  padding: 245px 0 0 18%;
}

.beautiful-design h2 { font-size: 36px; }
/* Beautiful design section styling ends here */

/* Customer Review section styling ends here */
.customer-review {
  background-color: #F2F2F2;
  padding-top: 100px;
}

.customer-review h2 {
  padding-bottom: 89px;
  font-size: 36px;
  text-align: center;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review h4 {
  padding-top: 27px;
  color: #969696;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
}

.circle { 
  width: 80px;
  height: 80px;
  padding: 10px;
  background: rgb(167,173,183);
  background: linear-gradient(90deg, rgba(167,173,183,1) 0%, rgba(166,167,179,1) 50%, rgba(163,162,175,1) 100%);
  border-radius: 50%;
  text-indent: -9999px;
}

.stars,
.dot {
  text-indent: -9999px;
}

.stars::after {
  content: "\f005";
  padding-top: 8px;
  font-family: "fontAwesome";
  float: right;
  text-indent: 0;
  font-size: 12px;
}

.yellow { color: #FBC23C; }

.grey-rev {
  text-align: center;
  padding: 53px 10% 0;
  color: #A1A1A1;
  font-size: 22px;
  line-height: 34px;
}

.dot { padding: 57px 0 147px;}

.dot::after {
  content: "\f192";
  font-family: "fontAwesome";
  float: right;
  text-indent: 0;
  color: #888888;
  padding: 3px;
  font-size: 12px;
}

.dot.active::after {
  color: #5C9BEE;
}
/* Customer Review section styling ends here */

/* Features section styling starts here */
.features { padding-top: 140px; }

.features h2 {
  font-size: 34px;
  text-align: center;
}

.feature-txt {
  padding: 41px 20% 95px;
  color: #858485;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.more-features {
  display: flex;
}

.feature-item {
  display: flex;
  flex-direction: column;
}

.phone,
.heart,
.feature-star,
.gear { 
  text-indent: -9999px;
}

.phone,
.heart,
.feature-star,
.gear {
  background-color: #EEE;
  width: 32%;
  padding: 32px 0;
  margin-left: 33%;
  border-radius: 15%;
}

.phone::before {
  content: "\f3ce";
  padding: 0 35%;
  float: right;
  color: #3887ED;
  font-family: "fontAwesome";
  font-size: 42px;
  text-indent: 0;
}

.heart::before {
  content: "\f004";
  padding: 0 28%;
  float: right;
  color: #3887ED;
  font-family: "fontAwesome";
  font-size: 42px;
  text-indent: 0;
}

.feature-star::before {
  content: "\f005";
  padding: 0 28%;
  float: right;
  color: #3887ED;
  font-family: "fontAwesome";
  font-size: 42px;
  text-indent: 0;
}

.gear::before {
  content: "\f013";
  padding: 0 29%;
  float: right;
  color: #3887ED;
  font-family: "fontAwesome";
  font-size: 42px;
  text-indent: 0;
}

.feature-content { 
  padding-top: 50px;
  text-align: center;
}

.feature-content h3 {
  font-size: 17px;
}

.content-txt {
  padding: 0 7% 141px;
  padding-top: 10px;
  padding-bottom: 141px;
  color: #B0B0B0;
  line-height: 31px;
}
/* Features section styling ends here */

/* Subscribe section styling starts here */


.subscribe {
  padding-top: 135px; 
  background-color: #39DEFE;
}

.subscribe h2 {
  font-size: 36px;
  text-align: center;
}

.subscribe p {
  padding: 29px 17% 96px;
  color: #26A4D4;
  font-size: 21px;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 144px;
  gap: 55px;
}

input[type=text] {
  width: 392px;
  padding: 25px 0 17px 4%;
  border: 2px solid #88ECFF;
  background-color: #88ECFF;
}

input[type=email]{
  width: 392px;
  padding: 25px 0 17px 4%;
  border: 2px solid #88ECFF;
  background-color: #88ECFF;
}

::placeholder {
  font-size: 20px;
  color: #000;
}

.subscribe-btn {
  color: #FFF;
  background-color: #3887ED;
  font-size: 16px;
  padding: 10px 12%;
  border: none;
  border-radius: 50px;
}
/* Subscribe section styling ends here */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  